extends layout 

block content 
    div(class="mainCont")
        h1=title
            ul 
                each airplane in airplanes 
                    li  
                        div(class='container')
                            p #{airplane.name}
                            p Upgraded turn time #{airplane.turn_time_RB_upgraded}s
                            p Stock turn time #{airplane.turn_time_RB_stock}s
                            p Stock speed #{airplane.max_speed_RB_stock} Km/h
                            p Upgraded speed #{airplane.max_speed_RB_upgraded} Km/h
                            img(src=airplane.vehicle_image, width='200px')
                            img(src=airplane.dynamic_url, width='200px')
                            hr
