extends layout 

block content 
    div(class="mainCont")
        h1=title 
        div(class='planeCard')
            div(class='planeInfo')
                p=airplane.name
                p Your plane's Battle Rating: #{airplane.rating_RB}
                p Category: #{airplane.category}
                p Turn rate is #{airplane.turn_time_RB}s 
                p Climb rate is #{airplane.max_climb_RB} m/s
                p Max speed #{airplane.max_speed_RB} Km/h
                p Nation: #{airplane.nation}
                a(href=airplane.wiki_url target="_blank") Wiki link
                p Your vehicle is faster than #[strong #{stats.speedArray[1]}%] of vehicles at this battle rating
                p Your turns faster than #[strong #{stats.turnArray[1]}%] of vehicles at this battle rating
                p Your vehicle is faster than #[strong #{stats.climbArray[1]}%] of vehicles at this battle rating
            div(class='planeImg')
                img(src=airplane.vehicle_image, width='400px')
                img(src=airplane.dynamic_url, width='400px')
        if error
            p=error